plugins/*
!plugins/.gitkeep
!plugins/jtl
composer.lock
vendor/**
config/config.json
config/features.json
/build/
/dist/
db/
!db/.gitkeep
logs/
!logs/.gitkeep
.idea/
.claude/
.code
.DS_Store
*.mo
*.temp
*.zip
/junit.xml
/phpcs-quality-report.json
var/
.phpunit.cache/
