parameters:
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    scanDirectories:
        - ./stubs
    excludePaths:
        analyse:
            - '*/vendor/*'
            - '*/tests/*'
            - './var/*'
    ignoreErrors:
        - '#Constant WC_DELIMITER not found.#'
        -
            message: '#Binary operation "\."\s+between .+ and array\|string results in an error#'
            path: includes/JtlConnectorAdmin.php
            count: 9