parameters:
    bootstrapFiles:
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    excludePaths:
        analyse:
            - '*/vendor/*'
            - '*/tests/*'
            - './var/*'